/* ------ GENERALES ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ------ GENERAL ------ */
html {
    scroll-behavior: smooth;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: $font-weight-700;
}

h2 {
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: $font-weight-600;
}

.description {
    padding-top: 96px;

    h1 {
        padding-top: 10px;
    }

    p {
        margin: 0 auto;
        padding-bottom: 20px;
        color: $font-color-primary;
        font-size: map-get($subTitulo, size);
        text-align: map-get($subTitulo, align);
        font-weight: map-get($subTitulo, negrita);
    }
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
    position: fixed;
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    right: 15px;
    bottom: 60px;
    background: $secondary-color;
    transition: display 0.5s ease-in-out;
    z-index: 994;

    i {
        font-size: 30px;
        position: absolute;
        top: 5px;
        left: 5px;

        /*
      &:hover {
        color:$font-color-primary;
        transition: background 0.2s ease-in-out;
      }
      */
    }
}
.arrow-up {
    height: 40px;
}
