/* ------ GENERALES ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ------ GENERAL ------ */
html {
    scroll-behavior: smooth;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
    position: fixed;
    display: inline;
    width: 54px;
    height: 54px;
    border-radius: 26px;
    right: 15px;
    bottom: 40px;
    background: lightseagreen;
    /*color: $font-color-primary;*/
    transition: display 0.5s ease-in-out;
    z-index: 994;

    i {
        font-size: 30px;
        position: absolute;
        top: 6px;
        left: 7px;

        /*
      &:hover {
        color:$font-color-primary;
        transition: background 0.2s ease-in-out;
      }
      */
    }
}
.arrow-up {
    height: 40px;
}
