/* ------ HEADER ------*/

nav {
    /*background-color: $primary-color;*/

    background: url("../images/wallpaper_nav-footer.jpg");
    width: 100%;
    border-bottom: 3px solid $secondary-color;
}

.menu-container {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    width: 200px;
    height: auto;
    /*margin-left: 20px;*/
    margin: 10px 20px;
    /*border: 1px solid red;*/

    img {
        /*src: url("../images/Foto-de-Perfil.jpg");*/
        width: 200px;
        height: auto;
    }
}

.navbar-collapse {
    flex-grow: 0;
}

.menu-nav_bar {
    //flex-grow: 0;
    ul {
        @include DisplayFlex(flex, row, wrap);
        padding-right: 20px;
        align-items: center;
        //justify-items: center;
    }

    a {
        text-decoration: none;
        //padding: 18px;
        font-size: 16px;
        font-weight: $font-weight-600;
        color: $font-color-primary;
        text-align: center;
    }
}

//Clase a una lista, para "pisar" a lo definido por Bootstrap
.menu-list {
    padding: 4px 16px;

    list-style: none;

    &:hover {
        background-color: $secondary-color;
        border-radius: 3px;
    }
}

.active {
    background-color: $secondary-color;
    border-radius: 3px;
}
