/* ------ INDEX ------*/

.index-info {
    width: 100%;
    height: 450px;
    //Significa que si no existe la foto, se mostrará el color de fondo
    //Cuando especifico una ruta relativa, siempre debemos tener en cuenta la ubicación del archivo style.css
    //y no partir de la ubicación de este archivo SASS.
    background: url("../images/section-index/wallpaper.jpg") aquamarine;
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla
    /*background-attachment: fixed;*/

    h1 {
        /*border: 1px solid red;*/
        color: $primary-color;
        text-transform: capitalize;
        position: relative;
        top: 340px;
        font-weight: $font-weight-600;
    }

    h2 {
        /*border: 1px solid green;*/
        position: relative;
        top: 340px;
        font-weight: $font-weight-600;
    }
}
