/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    //CONTACTO
    .container-contacto {
        @include DisplayFlex(flex, column, wrap);
        align-items: center;
    }

    .container-contacto-info {
        /*width: 650px;*/
        width: 70%;
        height: 300px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .container-contacto-form {
        /*width: 650px;*/
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    //SOBRE MI
    .profile {
        margin: 20px 0;
    }

    //SERVICIOS
    .services-data {
        width: 60%;
        height: 400px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    //SERVICIOS
    .services-data {
        width: 60%;
        height: 500px;
        margin: 20px 0;
    }

    //CONTACTO
    .container-contacto-info {
        width: 80%;

        h3 {
            font-size: 16px;
        }
    }

    .container-contacto-form {
        width: 80%;
        height: 400px;

        /*
        input,
        select {
            width: 400px;
            font-size: 16px;
        }

        textarea {
            width: 400px;
            height: 116px;
            font-size: 16px;
        }
        */
    }

    .buttons button {
        margin: 0 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    //FORMACIÓN
    .experience {
        height: 720px;
    }

    //SERVICIOS
    .services-data {
        width: 60%;
        height: 650px;
        margin: 20px 0;
    }

    //CONTACTO

    .container-contacto-info {
        height: 320px;
    }

    .container-contacto-form {
        height: 470px;

        .name,
        .phone,
        .email,
        .subject {
            width: 93%;
        }

        .message {
            width: 93%;
            height: 116px;
        }

        .buttons {
            margin-top: 80px;
        }
    }
}

@media screen and (max-width: 500px) {
    //CONTACTO
    .container-contacto-info {
        height: 230px;
    }

    .contacto-info {
        margin-left: 20px;
        margin-top: 10px;

        i {
            width: 30px;
            height: 30px;
            padding-left: 6px;
            padding-top: 4px;
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
            padding-top: 13px;
        }
    }
}

@media screen and (max-width: 430px) {
    //SERVICIOS
    .services-data {
        width: 60%;
        height: 750px;
        margin: 20px 0;
    }

    //CONTACTO
    .container-contacto-info {
        height: 220px;
    }

    .contacto-info {
        margin-left: 15px;
        margin-top: 10px;

        i {
            width: 20px;
            height: 20px;
            padding-left: 2px;
            padding-top: 2px;
            font-size: 14px;
        }
        h3 {
            font-size: 11px;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: 336px) {
    //CONTACTO

    .contacto-info {
        margin-left: 15px;
        margin-top: 10px;

        i {
            width: 20px;
            height: 20px;
            padding-left: 4px;
            padding-top: 3px;
            font-size: 12px;
        }
        h3 {
            font-size: 10px;
            padding-top: 10px;
        }
    }

    .container-contacto-form {
        height: 490px;

        .buttons {
            margin-top: 58px;

            button {
                width: 100%;
                margin-top: 12px;
            }
        }
    }
}
