/* RESPONSIVE */

@media screen and (max-width: 1300px) {
    //CONTACTO
    .container-contacto {
        @include DisplayFlex(flex, column, wrap);
        align-items: center;
    }

    .container-contacto-form {
        /*width: 650px;*/
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    //HEADER
    .menu-nav_bar {
        ul {
            @include DisplayFlex(flex, column, wrap);
            padding-right: 0;
        }
    }

    .menu-list {
        width: 100%;
    }

    //FOOTER
    .footer-menu,
    .footer-data {
        width: 50%;
    }

    .footer-social_media {
        width: 100%;
    }

    .redes-sociales {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        //background-color: aquamarine;
    }

    .footer-info {
        margin-left: 20%;
    }
}

@media screen and (max-width: 768px) {
    //MI TALLER

    .container-mi-taller {
        .description {
            width: 90%;
            padding-bottom: 40px;
        }
    }

    .container-folleto {
        padding: 50px 0;
    }

    //CONTACTO
    .container-contacto-form {
        width: 80%;
        //height: 400px;
    }

    .buttons button {
        margin: 0 10px;
        font-size: 16px;
    }

    .redes-sociales {
        width: 100%;
    }
    //FOOTER
    .footer-info {
        i {
            width: 35px;
            height: 35px;
            font-size: 20px;
            padding-left: 8px;
            padding-top: 6px;
            margin-left: -12px;
            margin-top: 6px;
        }

        p {
            padding-left: 6px;
            padding-top: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    //MI TALLER
    .icon-folleto {
        width: 70px;
        height: 70px;
        margin-top: -60px;
    }

    //CONTACTO
    .container-contacto-form {
        height: 470px;

        .name,
        .phone,
        .email,
        .nationality {
            width: 93%;
        }

        .message {
            width: 93%;
            height: 116px;
        }

        .buttons {
            margin-top: 80px;
        }
    }

    //FOOTER
    .footer-menu,
    .footer-data {
        width: 100%;
    }

    .footer-menu {
        ul {
            padding-left: 20px;
        }

        a {
            padding-left: 10px;
        }
    }

    .footer-info {
        margin-left: 5px;
    }

    /*
    .redes-sociales {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    */
}

@media screen and (max-width: 500px) {
    //CONTACTO
    .contacto-info {
        margin-left: 20px;
        margin-top: 10px;

        i {
            width: 30px;
            height: 30px;
            padding-left: 6px;
            padding-top: 4px;
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
            padding-top: 13px;
        }
    }
}

@media screen and (max-width: 430px) {
    //MI TALLER
    .icon-folleto {
        width: 50px;
        height: 50px;
        margin-top: -40px;
    }

    //CONTACTO
    .contacto-info {
        margin-left: 15px;
        margin-top: 10px;

        i {
            width: 20px;
            height: 20px;
            padding-left: 2px;
            padding-top: 2px;
            font-size: 14px;
        }
        h3 {
            font-size: 11px;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: 360px) {
    //HEADER
    .menu-logo {
        width: 125px;

        img {
            width: 125px;
        }
    }

    //INDEX
    .container-index {
        padding-top: 90px;
    }

    //MI TALLER
    .icon-folleto {
        width: 48px;
        height: 48px;
        margin-top: -42px;
    }

    //CONTACTO
    .contacto-info {
        margin-left: 15px;
        margin-top: 10px;

        i {
            width: 20px;
            height: 20px;
            padding-left: 4px;
            padding-top: 3px;
            font-size: 12px;
        }
        h3 {
            font-size: 9px;
            padding-top: 10px;
        }
    }

    .container-contacto-form {
        height: 490px;

        .buttons {
            margin-top: 58px;

            button {
                width: 100%;
                margin-top: 12px;
            }
        }
    }

    //FOOTER
    .footer-menu {
        ul {
            padding-left: 0;
        }
    }

    .footer-data {
        p {
            padding-left: 10px;
        }
    }

    .footer-info {
        margin-left: -12px;
        i {
            width: 25px;
            height: 25px;
            font-size: 15px;
            padding-left: 5px;
            padding-top: 4px;
            margin-left: -12px;
            margin-top: 6px;
        }

        p {
            padding-left: 6px;
            padding-top: 10px;
        }
    }
}
