/* ------ INDEX ------*/

.container-index {
    width: 100%;
    /*height: 450px;*/

    //Significa que si no existe la foto, se mostrar치 el color de fondo
    //Cuando especifico una ruta relativa, siempre debemos tener en cuenta la ubicaci칩n del archivo style.css
    //y no partir de la ubicaci칩n de este archivo SASS.
    background: url("../images/section-index/fondo-index.jpg");
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tama침o de la pantalla
    /*background-attachment: fixed;*/
}

/* Carousel */

//Flechas
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    opacity: 1;
    border-radius: 50%;
}

.index-info {
    h1 {
        color: $primary-color;
        text-transform: capitalize;
        font-weight: $font-weight-600;
        margin: 30px 0;
    }
    h2 {
        /*display: inline-block;*/
        /*font-weight: $font-weight-600;*/
        /*width: 60%;*/
        /*border: 1px solid green;*/
        text-align: center;
        margin: 0 auto;
        color: #8c8c8c;
        /*left: 0;
        right: 0;*/
    }
    p {
        color: $secondary-color;
        text-align: center;
        font-size: 22px;
    }
}

/*
.info-h2 {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 600px;

    margin: 0 auto;

    left: 0;
    right: 0;
}*/
