/* ------ MI TALLER ------*/

.container-formacion {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    padding: 40px 0;
}

.experience {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    height: 580px;
    padding: 50px 0px;
}

.exp-data {
    width: 90%;
    height: 100%;

    @include DisplayFlex(flex, row, wrap);
    justify-content: center;
    align-content: flex-start;
    background-color: $primary-color;
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
}

.icon-exp-data {
    position: relative;
    width: 140px;
    height: 140px;

    display: inline-block;
    background-color: #ffffff;
    border: 6px solid $secondary-color;
    border-radius: 50%;
    margin-top: -70px;

    i {
        display: inline-block;
        font-size: 70px;
        color: $secondary-color;
        padding-left: 30px;
        padding-top: 20px;

        &:hover {
            color: #ffffff;
        }
    }

    &:hover {
        background-color: $primary-color;
    }
}

.info-formacion {
    h3 {
        text-align: center;
        padding: 10px 0;
    }

    p {
        padding: 0 20px;
    }
}
