/* ------ PREGUNTAS FRECUENTES ------*/

.container-faq {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    padding-top: 10px;
    background: url("../images/wallpaper_nav-footer.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container-faq-questions {
    width: 80%;
    margin-bottom: 30px;
}

//Es el h3
.faq-header {
    background: none;
    border: none;
}

//Es el div de las preguntas
.faq-item {
    border: none;
}

//Es el botón que tiene la flechita
.faq-button {
    color: $font-color-primary;
    font-weight: $font-weight-600;
    font-size: 18px;
    border: none;
    background: none;
    box-shadow: none;

    &:focus {
        border: none;
        box-shadow: none;
    }

    &:hover {
        color: $secondary-color;
    }
}

.faq-button:not(.collapsed) {
    color: $secondary-color;
    background: none;
    border: none;
    box-shadow: none;
}

//Flechita del ítem cuando está boca abajo
.faq-button:not(.collapsed)::after {
    background-image: url("../images/section-faq/arrow-down.png");
    transform: rotate(-180deg);
}

//Flechita del ítem cuando está boca abajo
.faq-button::after {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
    background-color: $secondary-color;
    background-image: url("../images/section-faq/arrow-up.png");
    transform: rotate(-180deg);
}
