/* ------ QUIÉN SOY ------*/

.container-principal {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    /*align-items: center;*/
    padding: 40px 0;
}

.profile {
    @include DisplayFlex(flex, row, wrap);
    justify-content: center;
}

.container-profile {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;

    width: 80%;
    height: 440px;
    background: url("../images/section-about-me/about-me.jpg") $secondary-color;
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
}

.photo-profile {
    width: 80%;
    height: 40%;
    margin: auto;

    img {
        /*padding-top: 20px;*/
        width: 40%;
        height: auto;
        margin-left: 30%;
        /*max-width: 243px;
        max-height: 210px;
        */
    }
}

.data-profile {
    width: 70%;
    height: 45%;
    padding-top: 10px;

    h3 {
        font-size: 18px;
        span {
            font-weight: $font-weight-600;
        }
    }
}

.quien-soy {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;

    p {
        padding: 0 20px;
    }
}

.container-quien-soy {
    width: 80%;
    height: 440px;
    background: url("../images/section-about-me/about-me.jpg");
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla

    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
}

.quien-soy-icons {
    margin-top: 40px;
    /*border: 1px solid red;*/

    img {
        width: 100%;
        height: auto;

        &:hover {
            background-image: url("../images/section-quien-soy/quien-soy-iconos_hover.jpg");
        }
    }
}
