/* ------ PREGUNTAS FRECUENTES ------*/

.container-faq {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
}

/* Servicios */
.container-faq-info {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    padding: 20px 0 40px 0; //top-right-bottom-left
    width: 90%;
}

.container-faq-questions {
    width: 80%;
    margin-bottom: 30px;
}

.accordion-header {
    border: none;
}

.accordion-item {
    border: none;
    button {
        color: $font-color-primary;
        font-weight: $font-weight-600;
        //background-color: red;
        font-size: 18px;

        &:hover {
            color: $secondary-color;
        }
    }
}

//Flechita del ítem
.accordion-button::after {
    background-color: $secondary-color;
}

//La pregunta seleccionada
.accordion-button:not(.collapsed) {
    color: $secondary-color;
}

/*
.faq-data {
    width: 30%;
    height: 500px;
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);

    background: url("../images/section-servicios/servicios.jpg");
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla

    h3 {
        text-align: center;
        padding: 10px 0;
    }

    p {
        padding: 0 20px;
    }
}
*/
