/* ------ QUIÉN SOY ------*/

.container-principal {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    /*align-items: center;*/
    padding: 40px 0;
}

.container-quien-soy {
    width: 70%;
    /*border: map-get($borderShadow, borde);
    border-radius: 12px;
    overflow: hidden; //Oculto los sobrantes de la imágen, para que no desborde
    */

    /*
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
*/
    img {
        width: 100%;
        height: auto;
    }
}

.quien-soy-icons {
    margin-top: 40px;
    /*border: 1px solid red;*/

    img {
        width: 100%;
        height: auto;

        &:hover {
            background-image: url("../images/section-quien-soy/quien-soy-iconos_hover.jpg");
        }
    }
}
