/* ------ CONTACTO ------*/

.container-contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 0;
}

.container-contacto-info {
    width: 40%;
    height: 350px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 6px 2px black;
    justify-content: left;
}

.contacto-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*position: relative;
    padding-left: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin-left: 20px;
    */

    margin-left: 30px;
    margin-top: auto;

    i {
        width: 45px;
        height: 45px;
        background-color: $secondary-color;
        border-radius: 50%;
        display: inline-block;
        font-size: 25px;
        padding-left: 10px;
        padding-top: 8px;
        margin-left: -12px;
        margin-top: 6px;
    }

    h3 {
        display: inline;
        padding-left: 10px;
        padding-top: 16px;
        font-size: 18px;
        span {
            font-weight: $font-weight-600;
        }
    }
}

.container-form {
    width: 50%;
    height: 350px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 6px 2px black;
}
