/* ------ PREGUNTAS FRECUENTES ------*/

.container-services {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
}

/* Servicios */
.container-services-info {
    @include DisplayFlex(flex, row, wrap);
    justify-content: space-evenly;
    padding: 20px 0 40px 0; //top-right-bottom-left
}

.services-description {
    padding-bottom: 20px;
}

.services-data {
    width: 30%;
    height: 500px;
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);

    background: url("../images/section-servicios/servicios.jpg");
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla

    h3 {
        text-align: center;
        padding: 10px 0;
    }

    p {
        padding: 0 20px;
    }
}
