/* ------ VARIABLES ------*/

//Colores Principales
$primary-color: #c4c4c4; //Gris
$secondary-color: #ffaeae; //Rosa
$tertiary-color: #aaebe7; //Celeste
$font-color-primary: #ffffff; //Color de fuente principal (h1 y h2 por ejemplo)

$font-weight-700: 700; //En Negrita
$font-weight-600: 600; //En Negrita
