/* ------ VARIABLES ------*/

//Colores Principales
$primary-color: #c4c4c4; //Gris
$secondary-color: #d9ada0; //Un marrón raro
$font-color-primary: #8c8c8c; //Color de fuente principal (h1 y h2 por ejemplo)

$font-weight-700: 700; //En Negrita
$font-weight-600: 600; //En Negrita
