
/* ------ VARIABLES ------*/

//Colores Principales
$primary-color: #C4C4C4; //Gris
$secondary-color: #FFAEAE; //Rosa
$font-color-primary: #ffffff; //Color de fuente principal (h1 y h2 por ejemplo)

$font-weight-700: 700; //En Negrita
$font-weight-600: 600; //En Negrita