@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* ------ VARIABLES ------*/
/* MIXIN */
/* MAPAS */
/* ------ GENERALES ------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

/* ------ GENERAL ------ */
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: #d9ada0;
  text-transform: uppercase;
  font-weight: 700;
}

.description h1 {
  padding-top: 10px;
}

.description p {
  width: 80%;
  margin: 0 auto;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
  position: fixed;
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 26px;
  right: 15px;
  bottom: 60px;
  background: #aaebe7;
  transition: display 0.5s ease-in-out;
  z-index: 994;
}

.back-to-top i {
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  /*
      &:hover {
        color:$font-color-primary;
        transition: background 0.2s ease-in-out;
      }
      */
}

.arrow-up {
  height: 40px;
}

/* ------ HEADER ------*/
nav {
  /*background-color: $primary-color;*/
  background: url("../images/fondo-nav.jpg");
  width: 100%;
  border-bottom: 3px solid #d9ada0;
}

.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  width: 200px;
  height: auto;
  /*margin-left: 20px;*/
  margin: 10px 20px;
  /*border: 1px solid red;*/
}

.menu-logo img {
  /*src: url("../images/Foto-de-Perfil.jpg");*/
  width: 200px;
  height: auto;
}

.menu-nav_bar {
  flex-grow: 0;
}

.menu-nav_bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
}

.menu-nav_bar li {
  margin-right: 15px;
  list-style: none;
}

.menu-nav_bar a {
  text-decoration: none;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.menu-nav_bar a:hover {
  background-color: #d9ada0;
  border-radius: 3px;
}

.active {
  background-color: #d9ada0;
  border-radius: 3px;
}

/* ------ INDEX ------*/
/* Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #c4c4c4;
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 50%;
}

.index-info {
  width: 100%;
  height: 450px;
  background: url("../images/section-index/fondo-index.jpg") #aaebe7;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.index-info h1 {
  color: #c4c4c4;
  text-transform: capitalize;
  font-weight: 600;
  margin: 30px 0;
}

.index-info p {
  color: #d9ada0;
  text-align: center;
  font-size: 22px;
}

.info-h2 {
  position: relative;
  width: 600px;
  height: 100px;
  /*margin-left: 25%;*/
  margin: 0 auto;
  left: 0;
  right: 0;
}

.info-h2 h2 {
  /*display: inline-block;*/
  font-weight: 600;
  /*padding-bottom: 20px;*/
  /*border: 1px solid red;*/
  text-align: justify;
}

/* ------ QUIÉN SOY ------*/
.container-principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*align-items: center;*/
  padding: 40px 0;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  height: 440px;
  background: url("../images/section-about-me/about-me.jpg") #d9ada0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
}

.photo-profile {
  width: 80%;
  height: 40%;
  margin: auto;
}

.photo-profile img {
  /*padding-top: 20px;*/
  width: 40%;
  height: auto;
  margin-left: 30%;
  /*max-width: 243px;
        max-height: 210px;
        */
}

.data-profile {
  width: 70%;
  height: 45%;
  padding-top: 10px;
}

.data-profile h3 {
  font-size: 18px;
}

.data-profile h3 span {
  font-weight: 600;
}

.quien-soy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.quien-soy p {
  padding: 0 20px;
}

.container-quien-soy {
  width: 80%;
  height: 440px;
  background: url("../images/section-about-me/about-me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
}

.quien-soy-icons {
  margin-top: 40px;
  /*border: 1px solid red;*/
}

.quien-soy-icons img {
  width: 100%;
  height: auto;
}

.quien-soy-icons img:hover {
  background-image: url("../images/section-quien-soy/quien-soy-iconos_hover.jpg");
}

/* ------ MI TALLER ------*/
.container-formacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 0;
}

.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 580px;
  padding: 50px 0px;
}

.exp-data {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #c4c4c4;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
}

.icon-exp-data {
  position: relative;
  width: 140px;
  height: 140px;
  display: inline-block;
  background-color: #ffffff;
  border: 6px solid #d9ada0;
  border-radius: 50%;
  margin-top: -70px;
}

.icon-exp-data i {
  display: inline-block;
  font-size: 70px;
  color: #d9ada0;
  padding-left: 30px;
  padding-top: 20px;
}

.icon-exp-data i:hover {
  color: #ffffff;
}

.icon-exp-data:hover {
  background-color: #c4c4c4;
}

.info-formacion h3 {
  text-align: center;
  padding: 10px 0;
}

.info-formacion p {
  padding: 0 20px;
}

/* ------ PREGUNTAS FRECUENTES ------*/
.container-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Servicios */
.container-services-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0 40px 0;
}

.services-description {
  padding-bottom: 20px;
}

.services-data {
  width: 30%;
  height: 500px;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
  background: url("../images/section-servicios/servicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-data h3 {
  text-align: center;
  padding: 10px 0;
}

.services-data p {
  padding: 0 20px;
}

/* ------ CONTACTO ------*/
.container-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 30px 40px;
  background-image: url("../images/section-contacto/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto-description {
  padding-bottom: 20px;
}

.contacto-description p {
  width: 100%;
}

/* INFORMACIÓN */
.container-contacto-info {
  width: 40%;
  height: 360px;
  justify-content: left;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
}

.contacto-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 20px;
}

.contacto-info i {
  width: 45px;
  height: 45px;
  background-color: #d9ada0;
  border-radius: 50%;
  display: inline-block;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 8px;
  margin-left: -12px;
  margin-top: 6px;
}

.contacto-info h3 {
  display: inline;
  padding-left: 6px;
  padding-top: 18px;
  font-size: 18px;
}

.contacto-info h3 span {
  font-weight: 600;
}

/* FORMULARIO */
.container-contacto-form {
  width: 656px;
  height: 360px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 2px black;
}

.container-contacto-form form {
  width: 100%;
  height: 100%;
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-control_field {
  margin-top: 20px;
}

.form-control_field input,
.form-control_field select,
.form-control_field textarea,
.form-control_field button {
  padding: 3px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #000000;
}

.form-control_field input,
.form-control_field select {
  /*width: 300px;*/
  width: 100%;
}

.form-control_field input:focus,
.form-control_field select:focus {
  background-color: #d9ada0;
  border: 0;
}

.form-control_field textarea {
  width: 100%;
  height: 170px;
  resize: none;
}

.form-control_field textarea:focus {
  background-color: #d9ada0;
  border: 0;
}

.name,
.phone,
.email,
.subject {
  width: 45%;
}

.message {
  width: 93%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13px;
}

.buttons button {
  width: 80px;
  margin: 0 30px;
  background-color: #d9ada0;
}

.buttons button:hover {
  opacity: 0.8;
  border: 0;
}

/* ------ FOOTER ------*/
.footer-copyright {
  background-color: #c4c4c4;
  width: 100%;
  height: 40px;
  border-top: 3px solid #d9ada0;
  text-align: center;
  font-size: 16px;
  color: #000000;
  padding: 4px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .container-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-contacto-info {
    /*width: 650px;*/
    width: 70%;
    height: 300px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .container-contacto-form {
    /*width: 650px;*/
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .profile {
    margin: 20px 0;
  }
  .services-data {
    width: 60%;
    height: 400px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .services-data {
    width: 60%;
    height: 500px;
    margin: 20px 0;
  }
  .container-contacto-info {
    width: 80%;
  }
  .container-contacto-info h3 {
    font-size: 16px;
  }
  .container-contacto-form {
    width: 80%;
    height: 400px;
  }
  .buttons button {
    margin: 0 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .experience {
    height: 720px;
  }
  .services-data {
    width: 60%;
    height: 650px;
    margin: 20px 0;
  }
  .container-contacto-info {
    height: 320px;
  }
  .container-contacto-form {
    height: 470px;
  }
  .container-contacto-form .name,
  .container-contacto-form .phone,
  .container-contacto-form .email,
  .container-contacto-form .subject {
    width: 93%;
  }
  .container-contacto-form .message {
    width: 93%;
    height: 116px;
  }
  .container-contacto-form .buttons {
    margin-top: 80px;
  }
}

@media screen and (max-width: 500px) {
  .container-contacto-info {
    height: 230px;
  }
  .contacto-info {
    margin-left: 20px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 30px;
    height: 30px;
    padding-left: 6px;
    padding-top: 4px;
    font-size: 18px;
  }
  .contacto-info h3 {
    font-size: 14px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 430px) {
  .services-data {
    width: 60%;
    height: 750px;
    margin: 20px 0;
  }
  .container-contacto-info {
    height: 220px;
  }
  .contacto-info {
    margin-left: 15px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-top: 2px;
    font-size: 14px;
  }
  .contacto-info h3 {
    font-size: 11px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 336px) {
  .contacto-info {
    margin-left: 15px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 12px;
  }
  .contacto-info h3 {
    font-size: 10px;
    padding-top: 10px;
  }
  .container-contacto-form {
    height: 490px;
  }
  .container-contacto-form .buttons {
    margin-top: 58px;
  }
  .container-contacto-form .buttons button {
    width: 100%;
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */