@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* ------ VARIABLES ------*/
/* MIXIN */
/* MAPAS */
/* ------ GENERALES ------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

/* ------ GENERAL ------ */
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: #c4c4c4;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  color: #d9ada0;
  text-transform: uppercase;
  font-weight: 600;
}

.description {
  padding-top: 120px;
}

.description h1 {
  padding-top: 10px;
}

.description p {
  margin: 0 auto;
  padding-bottom: 20px;
  color: #8c8c8c;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
  position: fixed;
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 26px;
  right: 15px;
  bottom: 60px;
  background: #d9ada0;
  transition: display 0.5s ease-in-out;
  z-index: 994;
}

.back-to-top i {
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  /*
      &:hover {
        color:$font-color-primary;
        transition: background 0.2s ease-in-out;
      }
      */
}

.arrow-up {
  height: 40px;
}

/* ------ HEADER ------*/
nav {
  /*background-color: $primary-color;*/
  background: url("../images/wallpaper_nav-footer.jpg");
  width: 100%;
  border-bottom: 3px solid #d9ada0;
}

.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  width: 200px;
  height: auto;
  /*margin-left: 20px;*/
  margin: 10px 20px;
  /*border: 1px solid red;*/
}

.menu-logo img {
  /*src: url("../images/Foto-de-Perfil.jpg");*/
  width: 200px;
  height: auto;
}

.navbar-collapse {
  flex-grow: 0;
}

.menu-nav_bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  align-items: center;
}

.menu-nav_bar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #8c8c8c;
  text-align: center;
}

.menu-list {
  padding: 4px 16px;
  list-style: none;
}

.menu-list:hover {
  background-color: #d9ada0;
  border-radius: 3px;
}

.active {
  background-color: #d9ada0;
  border-radius: 3px;
}

/* ------ INDEX ------*/
.container-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*background: url("../images/section-index/fondo-index.jpg");
    background-repeat: no-repeat;
    background-size: cover; //Se adapta al tamaño de la pantalla*/
  /*background-attachment: fixed;*/
  padding-top: 120px;
}

/* Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #c4c4c4;
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 50%;
}

.index-info h1 {
  text-transform: capitalize;
  margin: 30px 0;
}

.index-info h2 {
  /*display: inline-block;*/
  /*font-weight: $font-weight-600;*/
  /*width: 60%;*/
  /*border: 1px solid green;*/
  /*text-align: center;*/
  margin: 0 10px;
  color: #8c8c8c;
  font-size: 16px;
  /*left: 0;
        right: 0;*/
}

.index-info p {
  color: #d9ada0;
  text-align: center;
  font-size: 22px;
  margin: 0 10px;
}

/* ------ QUIÉN SOY ------*/
.container-quien-soy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
  /*align-items: center;*/
}

.container-quien-soy h2 {
  text-align: center;
  font-size: 50px;
}

.container-quien-soy .description {
  width: 70%;
}

.container-flyer {
  width: 90%;
  /*border: map-get($borderShadow, borde);
    border-radius: 12px;
    overflow: hidden; //Oculto los sobrantes de la imágen, para que no desborde
    */
  /*
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
*/
}

.container-flyer img {
  display: block;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.quien-soy-icons {
  margin-top: 40px;
}

.quien-soy-icons img {
  display: block;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.quien-soy-icons img:hover {
  background-image: url("../images/section-quien-soy/quien-soy-iconos_hover.jpg");
}

/* ------ MI TALLER ------*/
.container-mi-taller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-mi-taller .description {
  width: 70%;
  /*padding-top: 110px;
        padding-bottom: 20px;*/
}

.container-folleto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 80px 0px;
}

.image-portada {
  display: block;
  width: 80%;
  height: auto;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.folleto {
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  /*background-color: $primary-color;
    background-image: url("../images/wallpaper_nav-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    */
  /*
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
    */
}

.folleto p {
  padding: 20px 12px 0 12px;
  color: #8c8c8c;
  font-size: 15px;
  text-align: center;
}

.folleto .p-underline-weight {
  text-decoration: underline;
  font-weight: 600;
}

.icon-folleto {
  position: absolute;
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: #ffffff;
  border: 6px solid #d9ada0;
  border-radius: 50%;
  margin-top: -70px;
  /*
    i {
        display: inline-block;
        font-size: 46px;
        color: $secondary-color;
        padding-left: 10px;
        padding-top: 6px;

        &:hover {
            color: #ffffff;
        }
    }

    &:hover {
        background-color: $primary-color;
    }
    */
}

.icon-folleto img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.folleto-image {
  width: 100%;
  height: 100%;
}

.info-formacion h3 {
  text-align: center;
  padding: 10px 0;
}

.info-formacion p {
  padding: 0 20px;
}

/* ------ PREGUNTAS FRECUENTES ------*/
.container-faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
  background: url("../images/wallpaper_nav-footer.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.container-faq-questions {
  width: 80%;
  margin-bottom: 30px;
}

.faq-header {
  background: none;
  border: none;
}

.faq-item {
  border: none;
}

.faq-button {
  color: #8c8c8c;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background: none;
  box-shadow: none;
}

.faq-button:focus {
  border: none;
  box-shadow: none;
}

.faq-button:hover {
  color: #d9ada0;
}

.faq-button:not(.collapsed) {
  color: #d9ada0;
  background: none;
  border: none;
  box-shadow: none;
}

.faq-button:not(.collapsed)::after {
  background-image: url("../images/section-faq/arrow-down.png");
  transform: rotate(-180deg);
}

.faq-button::after {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
  background-color: #d9ada0;
  background-image: url("../images/section-faq/arrow-up.png");
  transform: rotate(-180deg);
}

/* ------ INSCRIBIRME ------*/
.container-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 30px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto-description {
  padding-bottom: 20px;
}

/* INFORMACIÓN */
/*
.container-contacto-info {
    width: 30%;
    height: 360px;
    justify-content: left;
    background-color: #ffffff;

    background-image: url("../images/wallpaper_nav-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
    //border: map-get($borderShadow, borde);
    //border-radius: map-get($borderShadow, radio);
    //box-shadow: map-get($borderShadow, sombra);
    
}
*/
/* FORMULARIO */
.container-contacto-form {
  /*width: 856px;*/
  width: 60%;
  height: 360px;
  background-image: url("../images/wallpaper_nav-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*
    border: map-get($borderShadow, borde);
    border-radius: map-get($borderShadow, radio);
    box-shadow: map-get($borderShadow, sombra);
    */
  margin-bottom: 20px;
}

.container-contacto-form form {
  width: 100%;
  height: 100%;
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-control_field {
  margin-top: 20px;
}

.form-control_field input,
.form-control_field select,
.form-control_field textarea,
.form-control_field button {
  padding: 3px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
}

.form-control_field input,
.form-control_field select {
  /*width: 300px;*/
  width: 100%;
}

.form-control_field input:focus,
.form-control_field select:focus {
  background-color: #d9ada0;
  border: 0;
}

.form-control_field textarea {
  width: 100%;
  height: 170px;
  resize: none;
}

.form-control_field textarea:focus {
  background-color: #d9ada0;
  border: 0;
}

.name,
.phone,
.email,
.nationality {
  width: 45%;
}

.message {
  width: 93%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13px;
}

.buttons button {
  width: 100px;
  margin: 0 30px;
  background-color: #d9ada0;
}

.buttons button:hover {
  opacity: 0.8;
  border: 0;
}

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
}

/* ------ FOOTER ------*/
.container-footer {
  background: url("../images/wallpaper_nav-footer.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-footer h4 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #d9ada0;
}

.footer-menu {
  width: 40%;
  height: 100%;
  padding-top: 10px;
}

.footer-menu ul {
  padding-left: 30px;
}

.footer-menu li {
  list-style: none;
  padding: 10px 0;
}

.footer-menu a {
  text-decoration: none;
  padding: 16px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #8c8c8c;
  text-align: center;
}

.footer-menu a:hover {
  background-color: #d9ada0;
  border-radius: 3px;
}

.footer-data {
  width: 25%;
  padding-top: 10px;
}

.footer-data p {
  padding-left: 30px;
}

.footer-data p span {
  font-weight: 600;
}

.footer-social_media {
  width: 35%;
  padding-top: 10px;
}

.redes-sociales {
  margin-top: -10px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 4px;
}

.footer-info a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  text-decoration: none;
}

.footer-info a:hover {
  opacity: 0.8;
}

.footer-info i {
  width: 45px;
  height: 45px;
  background-color: #d9ada0;
  border-radius: 50%;
  display: inline-block;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 8px;
  margin-left: -12px;
  margin-top: 6px;
}

.footer-info i:hover {
  opacity: 0.8;
}

.footer-info p {
  padding-left: 6px;
  padding-top: 18px;
}

.footer-info p span {
  font-weight: 600;
}

.footer-copyright {
  width: 100%;
  height: 60px;
  background: url("../images/wallpaper_nav-footer.jpg");
  border-top: 3px solid #d9ada0;
  text-align: center;
  font-size: 16px;
  color: #8c8c8c;
  padding: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 1300px) {
  .container-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-contacto-form {
    /*width: 650px;*/
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .menu-nav_bar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0;
  }
  .menu-list {
    width: 100%;
  }
  .footer-menu,
  .footer-data {
    width: 50%;
  }
  .footer-social_media {
    width: 100%;
  }
  .redes-sociales {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info {
    margin-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  .container-mi-taller .description {
    width: 90%;
    padding-bottom: 40px;
  }
  .container-folleto {
    padding: 50px 0;
  }
  .container-contacto-form {
    width: 100%;
  }
  .buttons button {
    margin: 0 10px;
    font-size: 16px;
  }
  .redes-sociales {
    width: 100%;
  }
  .footer-info i {
    width: 35px;
    height: 35px;
    font-size: 20px;
    padding-left: 8px;
    padding-top: 6px;
    margin-left: -12px;
    margin-top: 6px;
  }
  .footer-info p {
    padding-left: 6px;
    padding-top: 14px;
  }
}

@media screen and (max-width: 576px) {
  .icon-folleto {
    width: 70px;
    height: 70px;
    margin-top: -60px;
  }
  .container-contacto-form {
    height: 470px;
  }
  .container-contacto-form .name,
  .container-contacto-form .phone,
  .container-contacto-form .email,
  .container-contacto-form .nationality {
    width: 93%;
  }
  .container-contacto-form .message {
    width: 93%;
    height: 116px;
  }
  .container-contacto-form .buttons {
    margin-top: 80px;
  }
  .footer-menu,
  .footer-data {
    width: 100%;
  }
  .footer-menu ul {
    padding-left: 20px;
  }
  .footer-menu a {
    padding-left: 10px;
  }
  .footer-info {
    margin-left: 5px;
  }
  /*
    .redes-sociales {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    */
}

@media screen and (max-width: 500px) {
  .contacto-info {
    margin-left: 20px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 30px;
    height: 30px;
    padding-left: 6px;
    padding-top: 4px;
    font-size: 18px;
  }
  .contacto-info h3 {
    font-size: 14px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 430px) {
  .icon-folleto {
    width: 50px;
    height: 50px;
    margin-top: -40px;
  }
  .contacto-info {
    margin-left: 15px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-top: 2px;
    font-size: 14px;
  }
  .contacto-info h3 {
    font-size: 11px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  .menu-logo {
    width: 125px;
  }
  .menu-logo img {
    width: 125px;
  }
  .container-index {
    padding-top: 90px;
  }
  .icon-folleto {
    width: 48px;
    height: 48px;
    margin-top: -42px;
  }
  .contacto-info {
    margin-left: 15px;
    margin-top: 10px;
  }
  .contacto-info i {
    width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 12px;
  }
  .contacto-info h3 {
    font-size: 9px;
    padding-top: 10px;
  }
  .container-contacto-form {
    height: 490px;
  }
  .container-contacto-form .buttons {
    margin-top: 58px;
  }
  .container-contacto-form .buttons button {
    width: 100%;
    margin-top: 12px;
  }
  .footer-menu ul {
    padding-left: 0;
  }
  .footer-data p {
    padding-left: 10px;
  }
  .footer-info {
    margin-left: -12px;
  }
  .footer-info i {
    width: 25px;
    height: 25px;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 4px;
    margin-left: -12px;
    margin-top: 6px;
  }
  .footer-info p {
    padding-left: 6px;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */